<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.niteroomcreation.basemade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.niteroomcreation.basemade.provider.READ_WRITE"
        android:protectionLevel="normal" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Main"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:configChanges="orientation|screenSize" />

        <!--firebase messaging-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/str_notification_channel_release"/>

        <service android:name=".utils.service.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- widget provider -->
        <receiver android:name=".ui.widget.FavsStackWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_favs" />
        </receiver>

        <!-- widget service -->
        <service
            android:name=".utils.service.FavsStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!--content provider-->
        <provider
            android:name=".ui.widget.FavsContentProvider"
            android:authorities="com.niteroomcreation.basemade.provider"
            android:exported="true"
            android:readPermission="com.niteroomcreation.basemade.provider.READ_WRITE" />

        <!--alarm manager-->
        <receiver
            android:name=".utils.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>